<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css" integrity="sha256-mmgLkCYLUQbXn0B1SRqzHar6dCnv9oZFPEC1g1cwlkk=" crossorigin="anonymous" />
	<link rel="stylesheet" href="css/style.css" />
  
  <title>Beasties</title>
</head>
<body>
  <section class="roomname">
  <h1>You are now at the</h1>
  <h2 id="room-name">The Forest</h2>
</section>
<ul id="users" class="userimages">
</ul>

  <img id="bgimage" class="bgimage" src="https://cdna.artstation.com/p/assets/images/images/021/732/412/original/lida-cosgrove-lcosgrove-campfire-final-full.gif?1572759240">
  <div class="chat-container">

    <main class="chat-main">
  
      <div class="chat-messages">
			
      </div>
    </div>
    </main>
    <div class="chat-form-container">
      <form id="chat-form">
        <div id="catimages"></div>
        <input
          id="msg"
          type="text"
          placeholder="Enter Message"
          required
          autocomplete="off"
        />
        <button class="btn">Send</button>
        <img id="catbutton" src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/42a90bd0-7547-46e6-b670-f76805a7f1de/datnw9e-67fbd1a7-36c6-4326-9b92-45306a0a19f8.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzQyYTkwYmQwLTc1NDctNDZlNi1iNjcwLWY3NjgwNWE3ZjFkZVwvZGF0bnc5ZS02N2ZiZDFhNy0zNmM2LTQzMjYtOWI5Mi00NTMwNmEwYTE5ZjgucG5nIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.OgCXotK8JgDRdPDTfcbqFjeQLpEpb_nkMSPcXnGo4h8">
      </form>
    
      
  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/qs/6.11.1/qs.min.js" integrity="sha512-5Zv/hNtOKSkeScnIYOqGjng82gQSHsCoyqq9TgrJLgYa032cUYWH4kF1ayS8Gz1Jfge7e8MaBF6AeEvoQ92v8w==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="/socket.io/socket.io.js"></script>
  <script src="/js/main.js"></script>
</body>
</html>