@font-face {
    font-family: 'Reality Goals';
    src: url('/fonts/realitygoals-owe7d.eot');
    src: url('/fonts/realitygoals-owe7d.eot?#iefix') format('embedded-opentype'),
         url('/fonts/realitygoals-owe7d.woff2') format('woff2'),
         url('/fonts/realitygoals-owe7d.woff') format('woff'),
         url('/fonts/realitygoals-owe7d.ttf')  format('truetype'),
         url('/fonts/realitygoals-owe7d.svg#Reality Goals') format('svg');
}
:root {
	--dark-color-a: #892727b5;
	--dark-color-b: #53af618d;
	--light-color: #151414;
	--success-color: #5cb85ca8;
	--error-color: #d9534f;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Reality Goals';
	font-size: 14px;
	overflow: hidden; /* Hide scrollbars */

}
h1 {
	font-weight: lighter;
	font-size: 4em;
}
section.roomname h1, h2 {
	text-align: center;
	color: white;
	font-weight: 10;
	filter: drop-shadow(0px 0px 20px #0ba6ff6d);
}
section.roomname h2 {
	font-size: 3em;
}
.bgimage {
	position:absolute;
	width: 100vw;
	height: 100vh;
	object-fit: cover;
	z-index: -1;
	top: 0;

}
ul {
	list-style: none;
}
ul.userimages {
	display: flex;
	flex-direction: row;
	justify-content: center;
align-items: center;
}
ul.userimages li {
	text-align: center;
	color: white;
padding: 0.5em;

}
ul.userimages li p {
	font-size: 2em;

	
}
ul.userimages li img {
width: 5em;
height: 5em;
border-radius: 50%;
border: 3px solid rgb(255, 255, 255);
}
ul.userimages li:last-of-type {
	padding-bottom: 3em;
}
.leavebtn {
	cursor: pointer;
	padding: 1em 2em;
	background: rgba(180, 20, 20, 0.63);
	color: white;
	border: 2px solid rgb(106, 3, 3);


	border-radius: 0.3em;
	font-size: 20px;

}

a {
	text-decoration: none;
}

.btn {
	cursor: pointer;
	padding: 10px 25px;
	background: rgb(87, 203, 67);
	color: black;
	border: 0;
	font-size: 14px;
	font-family: reality goals;
	font-weight: lighter;
	border-radius: 0.5em;
}

/* Chat Page */

.chat-container {
	border: 2px solid rgb(0, 0, 0);
	border-radius: 1em;
	width: 1000px;
	max-width: 100%;
	height: 45vh;
	background: #00000095;
	margin: 30px auto;
	overflow: hidden;
}

.chat-header {

	background: var(--dark-color-a);
	color: #fff;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	padding: 15px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.chat-main {
	display: grid;
	grid-template-columns:  3fr 1fr;


}







.chat-messages {
	padding: 20px;
	min-height: 300px;
	max-height: 35vh;
	overflow-y: scroll;
	color: rgb(9, 112, 0);
	font-weight: bold;
	font-family: Arial, Helvetica, sans-serif;
	
}
.chat-messages img {
	width: auto;
	height: 12em;
}
::-webkit-scrollbar {
	width: 10px;
  }

.chat-messages .message {
	padding: 10px;
	margin-bottom: 15px;
	background-color: rgb(220, 220, 220);
	border-radius: 5px;
	overflow-wrap: break-word;
}

.chat-messages .message .meta {
	font-size: 12px;

	color: black;
	opacity: 0.7;
	margin-bottom: 7px;
}

.chat-messages .message .meta span {
	color: #7d87d2;
}

.message {
	color: rgb(0, 143, 7);
}
.message.me {
	color: red;
}
.chat-form-container {
	width: 1000px;
	max-width: 100%;


border-radius: 1em;
	margin: 30px auto;
	background-color: var(--dark-color-a);

}

.chat-form-container form {
	display: flex;
padding: 3em 1em 3em 1em;
	margin: 1em;

}

.chat-form-container input[type='text'] {
	font-size: 14px;
	padding: 5px;
	height: 40px;
	flex: 1;
	font-family: 'Reality Goals';
border-radius: 0.5em;
margin-right: 1em;
}

/* Join Page */
.join-container {
	max-width: 600px;
	margin: 80px auto;
	color: #fff;
	
}

.join-header {
	text-align: center;
	padding: 50px;
	background: rgba(0, 0, 0, 0.55);
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	margin-bottom: 3em;
}

.join-main {
	padding: 10% 10%;
	background: rgba(130, 22, 22, 0.63);
	
}



.join-main .form-control {
	margin-bottom: 30px;

}

.join-main label {
	display: block;
	margin-bottom: 5px;
}

.join-main input[type='text'] {
	font-size: 16px;

	height: 40px;
	width: 100%;
	border:none;
	border-radius: 0.5em;
	padding: 5%;
	font-weight: bold;
}

.join-main select {
	font-size: 16px;

	height: 40px;
	width: 100%;
	border:none;
	border-radius: 0.5em;
	padding-left:5%;
	font-weight: bold;
}

.join-main .btn {
padding: 1em;
	margin-top: 4em;
	width: 80%;
	margin-left: 10%;

}
.join-main .btn:hover {
	background-color: rgb(0, 216, 0);
	transform: scale(.98);
}
.join-main .btn p {
	filter: drop-shadow(5px 5px 0px rgba(0, 0, 0, 0.156));
	font-size: 2em;
	color: white;
}

@media (max-width: 700px) {
	.chat-main {
		display: block;
	}

	.chat-sidebar {
		display: none;
	}
}

img#catbutton {
	width: 3em;
	height:3em;
	background-color: none;
	background: none;
}

