@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

:root {
	--dark-color-a: #892727b5;
	--dark-color-b: #53af618d;
	--light-color: #151414;
	--success-color: #5cb85ca8;
	--error-color: #d9534f;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	overflow: hidden; /* Hide scrollbars */

}

.bgimage {
	position:absolute;
	width: 100vw;
	height: 100vh;
	object-fit: cover;
	z-index: -1;
	top: 0;

}
ul {
	list-style: none;
}
ul.userimages {
	display: flex;
	flex-direction: row;
	justify-content: center;
align-items: center;
}
ul.userimages li {
	text-align: center;
	color: white;
padding: 1em;

}
ul.userimages li p {
	font-size: 1.5em;
	font-weight: bold;
	
}
ul.userimages li img {
width: 7em;
height: 7em;
border-radius: 50%;
border: 3px solid rgb(255, 255, 255);
}
ul.userimages li:last-of-type {
	padding-bottom: 3em;
}
.leavebtn {
	cursor: pointer;
	padding: 1em 2em;
	background: rgba(180, 20, 20, 0.63);
	color: white;
	border: 2px solid rgb(106, 3, 3);
	font-weight: bold;

	border-radius: 0.3em;
	font-size: 20px;

}

a {
	text-decoration: none;
}

.btn {
	cursor: pointer;
	padding: 5px 15px;
	background: rgb(50, 157, 31);
	color: black;
	border: 0;
	font-size: 17px;
}

/* Chat Page */

.chat-container {
	border: 2px solid rgb(0, 0, 0);
	border-radius: 1em;
	width: 1100px;
	max-width: 100%;
	
	background: #00000095;
	margin: 30px auto;
	overflow: hidden;
}

.chat-header {
	background: var(--dark-color-a);
	color: #fff;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	padding: 15px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.chat-main {
	display: grid;
	grid-template-columns:  3fr 1fr;
}







.chat-messages {
	padding: 30px;
	max-height: 500px;
	overflow-y: scroll;
}
::-webkit-scrollbar {
	width: 10px;
  }

.chat-messages .message {
	padding: 10px;
	margin-bottom: 15px;
	background-color: rgb(220, 220, 220);
	border-radius: 5px;
	overflow-wrap: break-word;
}

.chat-messages .message .meta {
	font-size: 15px;
	font-weight: bold;
	color: black;
	opacity: 0.7;
	margin-bottom: 7px;
}

.chat-messages .message .meta span {
	color: #7d87d2;
}

.chat-form-container {
	padding: 30px 310px;
	background-color: var(--dark-color-a);
}

.chat-form-container form {
	display: flex;
}

.chat-form-container input[type='text'] {
	font-size: 16px;
	padding: 5px;
	height: 40px;
	flex: 1;
}

/* Join Page */
.join-container {
	max-width: 500px;
	margin: 80px auto;
	color: #fff;
}

.join-header {
	text-align: center;
	padding: 20px;
	background: var(--dark-color-a);
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

.join-main {
	padding: 30px 40px;
	background: var(--dark-color-b);
}

.join-main p {
	margin-bottom: 20px;
}

.join-main .form-control {
	margin-bottom: 20px;
}

.join-main label {
	display: block;
	margin-bottom: 5px;
}

.join-main input[type='text'] {
	font-size: 16px;
	padding: 5px;
	height: 40px;
	width: 100%;
}

.join-main select {
	font-size: 16px;
	padding: 5px;
	height: 40px;
	width: 100%;
}

.join-main .btn {
	margin-top: 20px;
	width: 100%;
}

@media (max-width: 700px) {
	.chat-main {
		display: block;
	}

	.chat-sidebar {
		display: none;
	}
}